# Tuple
 - A tuple is a data structure in Python that is an immutable, ordered sequence of elements.
 - Each element or value that is inside of a tuple is called an item.
 - Tuples are created using parentheses ().
 - Tuples are iterable.

In [1]:
# Empty tuple
empty_tuple = ()

In [2]:
# 1D tuple
letters = ('a', 'b', 'c', 'd')
print(letters)

('a', 'b', 'c', 'd')

In [3]:
# 2D tuple
matrix_2d = ((0, 1), (2, 3))
print(matrix_2d)

((0, 1), (2, 3))

In [4]:
# 3D tuple
matrix_3d = (((0, 1), (2, 3)), ((4, 5), (6, 7)), ((8, 9), (10, 11)))
print(matrix_3d)

(((0, 1), (2, 3)), ((4, 5), (6, 7)), ((8, 9), (10, 11)))

In [5]:
# Tuple of 100 zeros
zeros = (0,) * 100
print(zeros)

(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)

In [6]:
# Accessing elements
fruits = ('apple', 'banana', 'orange')
print(fruits[0])  # Output: 'apple'
print(fruits[1])  # Output: 'banana'
print(fruits[1:])  # Output: ('banana', 'orange')

apple
banana
('banana', 'orange')

## Immutable nature of tuples

In [7]:
fruits[0] = 'grape'  # Raises a TypeError

TypeError: 'tuple' object does not support item assignment

## Tuple unpacking

In [8]:
t = (1, 2, 3)
a, b, c = t
print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: 3

1
2
3

## Concatenating tuples

In [9]:
tuple1 = ('a', 'b', 'c')
tuple2 = ('d', 'e', 'f')
combined_tuple = tuple1 + tuple2
print(combined_tuple)  # Output: ('a', 'b', 'c', 'd', 'e', 'f')

('a', 'b', 'c', 'd', 'e', 'f')

## Nested tuples

In [10]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'))
print(nested_tuple)  # Output: ((1, 2, 3), ('a', 'b', 'c'))
print(nested_tuple[0])  # Output: (1, 2, 3)
print(nested_tuple[1][2])  # Output: 'c'

((1, 2, 3), ('a', 'b', 'c'))
(1, 2, 3)
c

## Looping over a tuple

In [11]:
fruits = ("apple", "banana", "cherry")
for fruit in fruits:
    print(fruit)

apple
banana
cherry

## Length of a tuple

In [12]:
fruits = ("apple", "banana", "cherry")
print(len(fruits))  # Output: 3

3

## Checking if an element exists in a tuple

In [13]:
fruits = ('apple', 'banana', 'orange')
print('apple' in fruits)  # Output: True
print('grape' in fruits)  # Output: False

True
False

## Count occurrences of an element in a tuple

In [14]:
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))  # Output: 3

3

## Finding the index of an element in a tuple

In [15]:
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.index(3))  # Output: 2

2

## Sorting a tuple

In [16]:
numbers = (3, 2, 1, 5, 4)
sorted_numbers = sorted(numbers)
print(sorted_numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

## Converting a tuple to a list

In [17]:
fruits = ('apple', 'banana', 'orange')
fruits_list = list(fruits)
print(fruits_list)  # Output: ['apple', 'banana', 'orange']

['apple', 'banana', 'orange']